.field {
  margin: var(--grid) 0;
  display: grid;
  gap: var(--grid);
  color: var(--secondary-text);
}

.field label {
  font-weight: bolder;
  text-transform: uppercase;
}

.input {
  background-color: var(--inverse-text-primary);
  color: var(--primary-text);
  max-width: none;
  display: block;
  padding: var(--grid-double) var(--grid);
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  color: inherit;
  appearance: none;
  font: inherit;
}

.input:focus-visible {
  box-shadow: var(--focus-shadow);
}
