.button {
  font-weight: bold;
  font-size: 1.4rem;
  border: none;
  color: var(--inverse-text-primary);
  appearance: none;
  font-family: inherit;
  border-radius: var(--border-radius);
  padding: 0.6em 1.1em;
  background-color: var(--brand-primary);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.02) translateZ(0px);
}
